body.tufte {
    color: #111;
    background-color: #fffff8;
}
body.light1 {
    color: #333;
    background-color: #fafafa;
}
body.light2 {
    color: #272727;
    background-color: #fcfcfc;
}
body.light3 {
    color: #383838;
    background-color: #f8f8f8;
}

:selection {
    background-color: #b3d4fc;
    color: #fff;
}
