/**
 *  .border-all {
 *      @include hairline(1px solid red);
 *  }
 *  .border-top-only {
 *      @include hairline(0, $top: 1px solid red);
 *  }
 *  .border-top-0 {
 *      $include hairline($top: 0);
 *  }
 *  .border-radius {
 *      @include hairline($radius: 10px);
 *  }
 */

$default-hairline-border: 1px solid #000 !default;
@mixin hairline($all: $default-hairline-border, $radius: 0, $top: none, $right: none, $bottom: none, $left: none) {
    position: relative;

    &:before {
        border-radius: $radius;
        border: $all;
        @if $top != none { border-top: $top; }
        @if $right != none { border-right: $right; }
        @if $bottom != none { border-bottom: $bottom; }
        @if $left != none { border-left: $left; }
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 200%;
        transform: scale(0.5);
        transform-origin: 0 0;
        pointer-events: none;
    }
}
